<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:ifab="Ifabrik\IfabRealestate\ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
	<div class="container" style="padding-top:50px;">
		<div class="row">
			<div class="col-sm-12">
				<h2><f:translate key="listing.title"/></h2>
				<div class="container">
					<div class="row">
						<f:if condition="{properties}">
							<f:then>
								<f:if condition="{settings.list.hidePagination} == 1">
									<f:then>
										<f:for each="{properties}" as="property">
											<div class="col-sm-12">
												<f:render partial="Property/Item" arguments="{_all}"/>
											</div>
										</f:for>
									</f:then>
									<f:else>
										<ifab:pagination.paginate objects="{properties}" as="propertiesPaginator" itemsPerPage="{settings.list.paginate.itemsPerPage}">
											<f:for each="{propertiesPaginator.paginator.paginatedItems}" as="property">
												<div class="col-sm-12">
													<f:render partial="Property/Item" arguments="{_all}"/>
												</div>
											</f:for>

											<f:alias map="{pagination:propertiesPaginator.pagination, paginator:propertiesPaginator.paginator, name:propertiesPaginator.name}">
												<f:render partial="Tools/Pagination" arguments="{_all}" />
											</f:alias>
										</ifab:pagination.paginate>
									</f:else>
								</f:if>
							</f:then>
							<f:else>
								<p>There are no properties. Make sure you set them to public under the <strong>management tab</strong></p>
							</f:else>
						</f:if>
					</div>
				</div>
			</div>
		</div>
	</div>
</f:section>
</html>